


<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
    <button class="navbar-toggler"  data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">

    </button>
    <button id="switch" onclick="myFunction()" on class="zoom btn btn-dark ml-2 mr-lg-2" ><i class="fas fa-align-justify"></i></button>
    <a href="/" class="btn btn-dark ml-2 mr-lg-2 shadow-sm" type="submit" >Home</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03" >
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item">
                <div class="btn-group">
                    <div class="dropdown">

                    </div>

                    <div class="dropdown">

                    </div>
                    <div class="dropdown">
                        <button class="btn btn-dark mb1 dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-user"></i> Accounts
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu " style="background-color: black">
                                <li><a href="signup" class="btn btn-block ml-1 mr-lg-1"><i class="fas fa-user"></i>  Sign up</a></li>
                                <li><a href="login" class=" btn btn-block ml-1 mr-lg-1"><i class="fas fa-sign-in-alt"></i>  Sign in</a></li>


                        </ul>
                    </div>

                </div>
            </li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li class="dropdown" style="color: white">
                <div class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-bell btn btn-primary"></i>  <span class="label label-warning">16</span>
                </div>
                <ul class="dropdown-menu " style="background-color: #2b542c">

                    <li><a href="signup" class="btn btn-block ml-1 mr-lg-1"><i class="fas fa-user"></i>  Sign up</a></li>
                    <li><a href="login" class=" btn btn-block ml-1 mr-lg-1"><i class="fas fa-sign-in-alt"></i>  Sign in</a></li>


                </ul>
            </li>
            <li class="dropdown">
                <div class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fas fa-cogs btn btn-primary"></i>  <span class="label label-warning">16</span>
                </div>
                <ul class="dropdown-menu " style="background-color: #2b542c">

                    <li><a href="signup" class="btn btn-block ml-1 mr-lg-1"><i class="fas fa-user"></i>  Sign up</a></li>
                    <li><a href="login" class=" btn btn-block ml-1 mr-lg-1"><i class="fas fa-sign-in-alt"></i>  Sign in</a></li>


                </ul>
            </li>
            <li class="dropdown ">
                <div class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fas fa-envelope btn btn-primary"></i>  <span class="label label-warning">16</span>
                </div>
                <ul class="dropdown-menu " style="background-color: #2b542c">

                    <li><a href="signup" class="btn btn-block ml-1 mr-lg-1"><i class="fas fa-user"></i>  Sign up</a></li>
                    <li><a href="login" class=" btn btn-block ml-1 mr-lg-1"><i class="fas fa-sign-in-alt"></i>  Sign in</a></li>
                    <li><a href="profile" class=" btn btn-block ml-1 mr-lg-1"><i class="fas fa-sign-in-alt"></i> Profile</a></li>


                </ul>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-lg-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-danger ml-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="center">
    <a href="signup" class="btn btn-lg btn-danger "><i class="fa fa-heart"></i> <b>Get Started</b></a>
</div>