

<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
    <button class="navbar-toggler"  data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button id="switch" onclick="myFunction()" class="zoom btn btn-dark ml-2 mr-lg-2" ><i class="fas fa-align-justify"></i></button>
    <a href="/" class="btn btn-dark ml-2 mr-lg-2 shadow-sm" >Home</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item">
                <div class="btn-group">
                    <div class="dropdown">

                    </div>

                    <div class="dropdown">

                    </div>


                </div>



            </li>

            <li class="dropdown" style="color: white">
                <div class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-bell btn btn-primary"></i>  <span class="label label-warning">16</span>
                </div>
                <ul class="dropdown-menu " style="background-color: #2b542c">

                    <li><a href="signup" class="btn btn-block ml-1 mr-lg-1"><i class="fas fa-user"></i>  Sign up</a></li>
                    <li><a href="login" class=" btn btn-block ml-1 mr-lg-1"><i class="fas fa-sign-in-alt"></i>  Sign in</a></li>
                    <li><a href="#" ng-click="main.dologout()" class=" btn btn-block ml-1 mr-lg-1"><i class="fas fa-sign-in-alt"></i>  Log out</a></li>


                </ul>
            </li>
            <li class="dropdown">
                <div class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fas fa-cogs btn btn-primary"></i>  <span class="label label-warning">16</span>
                </div>
                <ul class="dropdown-menu " style="background-color: #2b542c">

                    <li><a href="signup" class="btn btn-block ml-1 mr-lg-1"><i class="fas fa-user"></i>  Sign up</a></li>
                    <li><a href="login" class=" btn btn-block ml-1 mr-lg-1"><i class="fas fa-sign-in-alt"></i>  Sign in</a></li>


                </ul>
            </li>
            <li class="dropdown">
                <div class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fas fa-envelope btn btn-primary"></i>  <span class="label label-warning">16</span>
                </div>
                <ul class="dropdown-menu " style="background-color: #2b542c">

                    <li><a href="signup" class="btn btn-block ml-1 mr-lg-1"><i class="fas fa-user"></i>  Sign up</a></li>
                    <li><a href="login" class=" btn btn-block ml-1 mr-lg-1"><i class="fas fa-sign-in-alt"></i>  Sign in</a></li>


                </ul>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-lg-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-danger ml-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="row ">

    <div id="toggle" class="vertical-menu col-md-4-* bg-dark position-fixed dropper" style="width: 15%;   height: 1000px;">

        <a href="#" class="active" style="position: relative;"><img style="height: 75px; width: 75px; border-radius: 50px 50px 50px 50px ;" src="https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/20597126_105616010142301_8649040853514236200_n.jpg?_nc_cat=0&oh=32ffb76197a74df99c4ffe0205c14989&oe=5BF3996E"> &nbsp;<b> User Profile </b></a>
        <h6>  <a href="#"><b><i class="fas fa-user"></i> View Profiles</b></a>
            <a href="#"><b><i class="fas fa-edit"></i> Update Info</b></a>
            <a href="#"><b><i class="fas fa-credit-card"></i> Paid Membership</b></a>
            <a href="#"><b><i class="fas fa-user-friends"></i> My Meetups</b></a>
            <a href="#"><i class="fas fa-edit"></i><b> Photos</b></a>
            <a href="#"><i class="fas fa-user-friends"></i><b> Friends</b></a>
            <a href="#"><b><i class="fas fa-envelope"></i> Messages</b></a>
            <a href="#"><b><i class="fas fa-cogs"></i> Settings</b></a>
            <a href="#"><b><i class="fas fa-chart-line"></i> Activity Log</b></a>  </h6>

    </div>
    <!--<div id="toggle"  class="col-md-4-*  position-fixed " style="width: 20%;   height: 1200px;" >-->
    <!--<div class="d-md-flex flex-column flex-md-equal w-100 my-md-3 pl-md-3 ">-->
    <!--<div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden " style="border-radius: 21px 21px 21px 21px;height: 685px;position: relative;border: 3px groove cyan;">-->
    <!--<div class="bg-info shadow-lg " style="left: 0;right: 0; height: 80px;top: 0; border-radius: 21px 21px 0 0;position: absolute; ">-->
    <!--<br><label><h3><b><i class="fas fa-shopping-cart zoom"></i>   Cart</b></h3></label>-->
    <!--</div>-->

    <!--<div class=" shadow-lg " style="left: 0;right: 0; height: 100px;top: 90px; border-radius: 21px 21px 21px 21px;position: absolute;color: #1a2d41;">-->
    <!--<h6><b> <br>Email : {{user.email}}</b></h6>-->
    <!--</div>-->
    <!--<div class=" shadow-lg " style="left: 0;right: 0; height: 100px;top: 200px; border-radius: 21px 21px 21px 21px;position: absolute;color: #1a2d41;">-->
    <!--<h6><b><br> Apply now or in checkout </b></h6>-->
    <!--</div>-->
    <!--<div class=" shadow-lg " style="left: 0;right: 0; height: 100px;top: 310px; border-radius: 21px 21px 21px 21px;position: absolute;color: #1a2d41;">-->
    <!--<h6><b><br> Apply now or in checkout</b></h6>-->
    <!--</div>-->
    <!--<div class=" shadow-lg " style="left: 0;right: 0; height: 100px;top: 420px; border-radius: 21px 21px 21px 21px;position: absolute;color: #1a2d41;">-->
    <!--<h6><b><br> Apply now or in checkout</b></h6>-->
    <!--</div>-->
    <!--<div class=" shadow-lg " style="left: 0;right: 0; height: 100px;top: 530px; border-radius: 21px 21px 21px 21px;position: absolute;color: #1a2d41;">-->
    <!--<h6><b> <br> Apply now or in checkout</b></h6>-->
    <!--</div>-->

    <!--<div class=" shadow-sm bg-info" style="left: 0;right: 0; height: 70px;top:610px; border-radius:  0 0 21px 21px;position: absolute;">-->
    <!--<br><label><h3></h3></label>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->
    <div id = "content" class="col-md-4-*   my-2 shadow-lg " style="width: 82%;  margin-left: 16%; height: 100%; transition-property: width;transition-duration: 0.5s; ">

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-dark mr-md-3 pt-1 px-1 pt-md-1 px-md-1 text-center text-white overflow-hidden shadow-lg" style="width: 25%; height: 100px; border-radius:  0 0 0 0;background-image: url('https://www.exist.com/wp-content/uploads/2018/04/jumbotron-1024x577.jpg');">
                <div class="my-1 py-1" style="color: black;">
                    <h5 class=" float-left">Home</h5><br><hr>
                    <p class="lead">And an even wittier subheading.</p>
                </div>

            </div>
            <div class="bg-dark mr-md-3 pt-1 px-1 pt-md-1 px-md-1 text-center text-white overflow-hidden shadow-lg" style="width: 25%; height: 100px; border-radius:  0 0 0 0;background-image: url('https://www.exist.com/wp-content/uploads/2018/04/jumbotron-1024x577.jpg');">
                <div class="my-1 py-1" style="color: black;">
                    <h5 class=" float-left">Income</h5><br><hr>
                    <p class="lead">And an even wittier subheading.</p>
                </div>

            </div>
            <div class="bg-dark mr-md-3 pt-1 px-1 pt-md-1 px-md-1 text-center text-white overflow-hidden shadow-lg" style="width: 25%; height: 100px; border-radius:  0 0 0 0;background-image: url('https://www.exist.com/wp-content/uploads/2018/04/jumbotron-1024x577.jpg');">
                <div class="my-1 py-1" style="color: black;">
                    <h5 class=" float-left">Income</h5><br><hr>
                    <p class="lead">And an even wittier subheading.</p>
                </div>

            </div>
            <div class="bg-dark mr-md-3 pt-1 px-1 pt-md-1 px-md-1 text-center text-white overflow-hidden shadow-lg" style="width: 25%; height: 100px; border-radius:  0 0 0 0;background-image: url('https://www.exist.com/wp-content/uploads/2018/04/jumbotron-1024x577.jpg');">
                <div class="my-1 py-1" style="color: black;">
                    <h5 class=" float-left">Income</h5><br><hr>
                    <p class="lead">And an even wittier subheading.</p>
                </div>

            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class=" mr-md-3 pt-1 px-1 pt-md-1 px-md-1 text-center text-white overflow-hidden shadow-lg" style="width: 25%; height: 1000px; border-radius:  10px 10px 10px  10px;position: relative">
                <div class="my-1" style="color: black;">
                    <button class="btn btn-block btn-dark float-left">Compose</button><br><br><hr>
                    <div id="toggle" class="vertical-menu  bg-dark dropper" style="color: black;width: 98%;position: absolute" >

                        <h6>  <a href="#"><b><i class="fas fa-user"></i> View Profiles</b></a>
                            <a href="#"><b><i class="fas fa-edit"></i> Update Info</b></a>
                            <a href="#"><b><i class="fas fa-credit-card"></i> Paid Membership</b></a>
                            <a href="#"><b><i class="fas fa-user-friends"></i> My Meetups</b></a>
                            <a href="#"><i class="fas fa-edit"></i><b> Photos</b></a>
                            <a href="#"><i class="fas fa-user-friends"></i><b> Friends</b></a>
                            <a href="#"><b><i class="fas fa-envelope"></i> Messages</b></a>
                            <a href="#"><b><i class="fas fa-cogs"></i> Settings</b></a>
                            <a href="#"><b><i class="fas fa-chart-line"></i> Activity Log</b></a>  </h6>

                    </div>
                </div>
            </div>
            <div class=" mr-md-3 pt-1 px-1 pt-md-1 px-md-1 text-center text-white overflow-hidden shadow-lg" style="width: 73%; height: 100%; border-radius:  10px 10px 10px  10px;position: relative">
                <div class="bg-info my-1 py-1" style="color: black;width: 100%;position: absolute">
                    <b><h3 class=" float-left">Inbox</h3><br><br><hr></b><div id = "addresscontent" class="col-md-4-*   my-2" style="width: 35%; margin-left: 30%; height: 100%; transition-property: width;transition-duration: 0.5s;">
                    <div class="d-md-flex flex-column flex-md-equal w-100 my-md-3 pl-md-3">

                        <div class="shadow-lg  mr-md-3  pt-md-3 px-md-2 text-center text-white overflow-hidden" style=" margin-bottom:2%; border-radius: 21px 21px 21px 21px; ">
                            <div class="p-2">
                                <label><h6>Fill in this form to create your account.</h6></label>
                            </div>
                            <div class="p-2">
                                <input type="text" class="form-control input-lg" placeholder="Enter Email" name="email" required><br>
                            </div>
                            <div class="p-2">
                                <input type="password" class="form-control input-lg" placeholder="Enter Password" name="password" required><br>
                            </div>
                            <label>
                                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                            </label><br>
                            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p><br>
                            <input type="hidden" name="_csrf" value="{{ csrftoken }}">
                            <div class="p-2">
                                <button  class="btn btn-success btn-lg btn-block signupbtn">Next</button>
                            </div>
                        </div>


                    </div>
                </div>


                </div>
            </div>

        </div>


    </div>
</div>
